<div class="container-index d-flex justify-content-center align-items-center">
  <div class="row mb-5 align-items-stretch">
    <div class="col mt-0" data-controller="toggle-map">
      <div data-toggle-map-target="list" class="d-none">
        <% @spots.uniq.each do |spot| %>
        <div class="card-home">
          <%= cl_image_tag spot.photo.key %>
          <div class="card-home-infos">
            <h2 class="card-home-title"><%= spot.name %></h2>
            <p><%= spot.category.name %></p>
            <p class="card-home-rating"><%= star_rating(spot.average_rating, 5) %></p>
          </div>
          <%= link_to 'See Details', spot, class: 'btn-purple' %>
        </div>
        <% end %>
      </div>
      <div class="map-container" data-toggle-map-target="map">
        <div class="map">
          <div style="width: 360px; height: 800px;"
            data-controller="map"
            data-map-markers-value="<%= @markers.to_json %>"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>" class="col my-3">
          </div>
        </div>
      </div>
      <div data-controller="filter" data-filter-is-open-value="false">
        <div class="btn-group-container">
          <div class="btn-group custom-btn-group" role="group" aria-label="Basic example">
            <button class="btn btn-purple" data-action="click->filter#open"><i class="fa-solid fa-filter"></i> Filter</button>
            <button class="btn btn-purple" data-action="click->toggle-map#toggleDisplay" data-toggle-map-target="mapbutton"><i class="fa-solid fa-list"></i> List</button>
          </div>
        </div>
        <div class="modal" data-filter-target="modal">
          <%# modal for filters %>
          <%# it should be in front of the buttons (and navbar?) %>
          <%# it should cover around half of the map/screen, maybe more? %>
          <%# hide buttons when filter modal is open? %>
          <div class="modal-content">
            <div class="modal-header d-flex justify-content-between">
              <h2>Filter Recommendations</h2>
              <span class="close" data-action="click->filter#close">&times;</span>
            </div>
            <div class="modal-body mt-3">
              <%= form_with(url: spots_path, method: :get, local: true, class: "form") do |form| %>
                <div class="form-group">
                  <%= form.label :category_id, "Category" %>
                  <%= form.select :category_id, options_for_select(@categories.map { |c| [c.name, c.id] }, selected: params[:category_id]), { include_blank: "All Categories" }, { class: "form-control" } %>
                </div>

                <div class="form-group mt-3">
                  <%= form.label :user_id, "Friend" %>
                  <%= form.select :user_id, options_for_select(@followings.map { |user| ["#{user.first_name} #{user.last_name}", user.id] }, selected: params[:user_id]), { include_blank: "All Friends" }, { class: "form-control" } %>
                </div>

                <div class="d-flex justify-content-center mt-3">
                  <%= form.submit "Apply", class: "btn btn-purple me-3" %>
                  <%= form.button "Cancel", class: "btn btn-purple", data: { action: "click->filter#close" } %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <p class="impressum text-center">pyper © All rights reserved.</p>
    </div>
  </div>
</div>
