<h1> Your Recommendations</h1>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>" class="col sticky-top my-3 d-flex">
</div>

<% @spots.each do |spot| %>
  <div>
    <%= cl_image_tag spot.photo.key %>
    <p><%= spot.name %></p>
    <p><%= spot.category.name %></p>
    <p><%= spot.reviews.count %></p>
    <%= link_to 'See Details', spot, class: 'btn' %>
<% end %>
