<h1> Your Recommendations</h1>

<% @spots.each do |spot| %>
  <div>
    <%= cl_image_tag spot.photo.key %>
    <p><%= spot.name %></p>
    <p><%= spot.category.name %></p>
    <p><%= spot.reviews.count %></p>
    <%= link_to 'See Details', spot, class: 'btn' %>
<% end %>
