<div class="container-index d-flex justify-content-center align-items-center">
  <div class="row mb-4">
    <div class="col" data-controller="toggle-map">
      <div data-toggle-map-target="list" class="d-none">
        <% @spots.uniq.each do |spot| %>
        <div class="card-home">
          <%= cl_image_tag spot.photo.key %>
          <div class="card-home-infos">
            <h2 class="card-home-title"><%= spot.name %></h2>
            <p><%= spot.category.name %></p>
            <% rating_sum = 0 %>
            <% spot.reviews.each do |review| %>
              <% rating_sum += review.rating %>
            <% end %>
            <% average_rating = rating_sum / spot.reviews.count %>
            <p class="card-home-rating"><%= star_rating(average_rating, 5) %></p>
          </div>
          <%= link_to 'See Details', spot, class: 'btn-purple' %>
        </div>
        <% end %>
      </div>
      <div class="map-container">
        <div class="map">
          <div style="width: 360px; height: 600px;"
            data-toggle-map-target="map"
            data-controller="map"
            data-map-markers-value="<%= @markers.to_json %>"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>" class="col my-3">
          </div>
          <div class="btn-group-container">
            <div class="btn-group custom-btn-group" role="group" aria-label="Basic example">
              <button class="btn btn-purple"><i class="fa-solid fa-filter"></i> Filter</button>
              <button class="btn btn-purple" data-action="click->toggle-map#toggleDisplay" data-toggle-map-target="button"><i class="fa-solid fa-list"></i> List</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

      <%# <button class="btn-purple" data-action="click->toggle-map#toggleDisplay">PLACEHOLDER: toggle map</button> %>
