<div class="container-index mt-10 d-flex justify-content-center align-items-center">
  <div class="row mb-4">
    <div class="col review-form mt-10">

      <div class="create-review-form">
      <h3 class="new-spot-title">Add Recommendation</h3>
        <%= simple_form_for @spot, local: true do |f| %>
          <%= f.input :name %>
          <%= f.input :description, as: :text %>
          <%= f.input :address,
                      input_html: { data: { address_autocomplete_target: "address" }, class: "d-none" },
                      wrapper_html: { data: { controller: "address-autocomplete",
                      address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"] } } %>
          <%= f.input :opening_hours %>
          <%= f.association :category %>
          <%= f.file_field :photo %>
          <%= f.submit "Create", class: "btn-purple-full-width" %>
        <% end %>
      </div>

    </div>
  </div>
</div>
