<div class="container-index d-flex justify-content-center align-items-center">
    <div class="row">
      <div class="col" style="width: 360px">
        <h2 class="index-title mx-3">People you might know</h2>
      </div>

      <div>
      <% @users.each do |user| %>
        <div class="profile d-flex align-items-center">
          <div class="col-3 mx-3">
            <%= cl_image_tag user.photo.key, class: "avatar mb-4 mt-3"%>
          </div>
          <div class="col">
            <h2><%= user.first_name %> <%= user.last_name %></h2>
            <p class="mb-4"><%= user.email %></p>
          </div>
            <% if Follower.find_by(asker: current_user, receiver: user) %>
            <% follower = Follower.find_by(asker: current_user, receiver: user) %>
              <%= link_to 'Remove', follower_path(follower), data:{turbo_method: :delete}, class: 'btn-purple'%>
            <% else %>
              <%= button_to 'Add', user_followers_path(user), method: "post", remote: true, class: 'btn-purple'%>
            <% end %>
        </div>
      <% end %>
      </div>
    </div>
</div>
