<div class="container-index mt-5 d-flex justify-content-center align-items-center">
  <div class="row">
    <div class="col">
      <%= cl_image_tag @spot.photo.key, class: "img-show" %>
      <h2 class="show-title text-center"><%= @spot.name %></h2>
      <p class="text-center"><%= star_rating(@my_review.rating, 5) %></p>

      <% if @tag_names.length > 0 %>
        <div class="tag-container text-center">
          <% @tag_names.each do |tag_name| %>
            <button class="tag"><%= tag_name %></button>
          <% end %>
        </div>
      <% end %>

      <div class="description-section">
        <h3 class="show-h3">Description</h3>
        <p><%= @spot.description %></p>
      </div>

      <div class="opening-hours-section">
        <h3 class="show-h3">Opening Hours</h3>
        <div class="opening-hours">
          <h5>Mo – So</h5>
          <p><%= @spot.opening_hours %></p>
        </div>
      </div>

      <div class="reviews-section">
        <h3 class="show-h3">Your Review</h3>
          <div class="card-show">
            <%= cl_image_tag current_user.photo.key, class: "avatar" %>
            <div class="card-show-infos">
              <h3><%= @my_review.user.first_name %> <%= @my_review.user.last_name %></h3>
              <p><%= @my_review.content %></p>
              <p class="card-show-stars"><%= star_rating(@my_review.rating, 5) %></p>
            </div>
          </div>
      </div>

      <p class="impressum text-center">pyper © All rights reserved.</p>
    </div>
  </div>
</div>
