<div class="container-index mt-5 d-flex justify-content-center align-items-center">
  <div class="row mb-4">
    <div class="col review-form mt-3">
      <h3 class= "mx-2">Write a new review for <%= @spot.name %></h3>

      <div class="create-review-form">
        <%= simple_form_for([@spot, @review]) do |f| %>
          <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience", input_html: {data: {controller: "star-rating"}} %>
          <%= f.association :tags, collection: Tag.all, label: "Select tag", multiple: true, input_html: { class: 'form-control' } %>
          <%= f.input :content, class: "review-p", label: "Comment" %>
          <%= f.submit "Submit Review", class: "btn-purple-full-width" %>
        <% end %>
      </div>

    </div>
  </div>
</div>
