<h1>Write a new review for <%= @spot.name %></h1>
<%= simple_form_for([@spot, @review]) do |f| %>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <%= f.input :content, class: 'form-control', placeholder: 'Write your review here...' %>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12">
        <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience", input_html: { class: 'form-control star-rating', data: { controller: "star-rating" } } %>
      </div>
    </div>

<div class="row mt-3">
      <div class="col-md-12">
        <%= f.association :tags, collection: Tag.all, label: "Select tag", multiple: true, input_html: { class: 'form-control' } %>
      </div>
    </div>


    <div class="row mt-3">
      <div class="col-md-12">
        <%= f.submit "Submit Review", class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
