<!DOCTYPE html>
<html>
  <head>
    <title>Pyper</title>
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="manifest" href="/manifest.json">

    <!-- Theme Color for Browser -->
    <meta name="theme-color" content="#0078d7">

    <!-- Apple-specific Meta Tags for Standalone Mode -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Pyper">

    <!-- Apple Touch Icons -->
    <link rel="apple-touch-icon" href="/icons/logo_152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/logo_180.png">
  </head>

  <body>
    <div class="container-home">
      <%= render "shared/flashes" %>
      <div class="py-4 d-flex justify-content-center fixed-top" style="background-color: #17171A; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);">
        <h2>pyper</h2>
      </div>

      <%= yield %>
       <% if current_user %>
        <%= render "shared/navbar" %>
      <% end %>
    </div>
  </body>
</html>
