<!DOCTYPE html>
<html>
  <head>
    <title>Pyper</title>
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://ga.jspm.io/npm:star-rating.js@4.3.0/dist/star-rating.css">
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container-home">
      <%= render "shared/flashes" %>
      <%= render "shared/navbar" %>

      <%= yield %>
    </div>
  </body>
</html>
